.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #f8f8f8;
}
.img {
    height: 400px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.img:hover {
    transform: scale(1.05);
}

.artwork-title, .artwork-artist, .artwork-date {
    text-decoration: none;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #33552f;
    text-align: center;
    padding: 0 20px;
}
.card-link{
    text-decoration: none;
}